*{
    margin: 0%;
    padding:1%;

}
 
 
 
 .fondo {
     background-image:url("http://subirimagen.me/uploads/20190201123344.jpeg");
     height:80px ;

}
#message, #result{width: 500px;
    height: 200px;
    display:block;
    margin: 40px;
    border: #bdbdbd solid 2px;
}
#code,#encode{
    margin-left: 150px;
    width: 80px;
    height: 30px;
    background-color:yellow;
    color: #212121;
    border-radius: 5px;

}
